---
import type { Endpoints } from "@octokit/types";

import { TAG_DATA } from "../data/tag-color";
import type { TagsType } from "../data/tag-color";

import Content from "./content.astro";

interface Props {
  issue: Endpoints["GET /repos/{owner}/{repo}/issues"]["response"]["data"][0];
}

const { issue } = Astro.props;

const tags = issue.labels
  .map((e): [string, string | null] => {
    let tag = typeof e === "string" ? e : e.name ?? ":";
    let splitted_tag = tag.split(":");
    return [splitted_tag[0], splitted_tag[1] ?? null];
  })
  .filter(([type, value]) => !!value && type === "tag")
  .map(([_, value]) => {
    if (!value) return;
    if (value in TAG_DATA) {
      const tag_data = TAG_DATA[value as TagsType];
      return {
        name: tag_data.name,
        style: `--tag-bg-color:${tag_data.backgroundColor};--tag-color:${tag_data.textColor};`,
      };
    }
    return {
      name: value,
      style: "",
    };
  })
  .filter((element: any): element is Exclude<typeof element, null> => !!element);

const date_formatter = new Intl.DateTimeFormat("th-TH", {
  dateStyle: "medium",
});
const formatDate = (date: Date) => date_formatter.format(date);
---

<article>
  <header class="f">
    <h1 title={issue.title}>
      {issue.title}
    </h1>
    <a
      class="f"
      href={issue.html_url}
      target="_blank"
      rel="nofollow noopener noreferrer"
      title="ดู Issue บน GitHub"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 24 24"
        width="32"
        height="32"
        aria-label="ดู Issue บน GitHub"
      >
        <path
          d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
        ></path>
      </svg>
    </a>
  </header>
  <div class="f">
    {
      tags.map(({ name, style }) => (
        <span class="tag" style={style}>
          {name}
        </span>
      ))
    }
  </div>
  <hr />
  <Content markdown={issue.body ?? ""} />
  <hr />
  <footer class="f">
    <a
      class="stats-container"
      href={issue.html_url}
      target="_blank"
      rel="nofollow noopener noreferrer"
      title={issue.comments + " คอมเมนต์"}
    >
      <img src="speech_balloon.png" alt="" width="24" height="24" />
      <span class="stat-total">{issue.comments} คอมเมนต์</span>
    </a>
    {
      !!issue.reactions?.total_count && (
        <a
          class="stats-container"
          href={issue.html_url}
          target="_blank"
          rel="nofollow noopener noreferrer"
          title={issue.reactions.total_count + " รีแอคชัน"}
        >
          {!!issue.reactions["+1"] && (
            <img src="thumbs_up_default.png" alt="" width="24" height="24" />
          )}
          {!!issue.reactions["-1"] && (
            <img src="thumbs_down_default.png" alt="" width="24" height="24" />
          )}
          {!!issue.reactions.laugh && (
            <img src="face_with_tears_of_joy.png" alt="" width="24" height="24" />
          )}
          {!!issue.reactions.hooray && (
            <img src="party_popper.png" alt="" width="24" height="24" />
          )}
          {!!issue.reactions.confused && (
            <img src="face_with_raised_eyebrow.png" alt="" width="24" height="24" />
          )}
          {!!issue.reactions.heart && (
            <img src="red_heart.png" alt="" width="24" height="24" />
          )}
          {!!issue.reactions.rocket && (
            <img src="rocket.png" alt="" width="24" height="24" />
          )}
          {!!issue.reactions.eyes && <img src="eyes.png" alt="" width="24" height="24" />}
          <span class="stat-total">
            {issue.reactions.total_count}
            <span class="visually-hidden"> รีแอคชัน</span>
          </span>
        </a>
      )
    }
    <div class="f author-container">
      <div>
        <div>
          {issue.user?.login}
        </div>
        <div class="article-date">
          <time datetime={new Date(issue.created_at ?? "").toISOString()}
            >{formatDate(new Date(issue.created_at ?? ""))}</time
          >
          (แก้ไขล่าสุด: <time datetime={new Date(issue.updated_at ?? "").toISOString()}
            >{formatDate(new Date(issue.updated_at ?? ""))}</time
          >)
        </div>
      </div>
      <img class="author-image" src={issue.user?.avatar_url} alt={issue.user?.login} />
    </div>
  </footer>
</article>

<style lang="scss">
  article {
    border: 1px solid;
    padding: 16px;
    border-radius: 4px;

    margin-top: 32px;
  }

  h1 {
    margin: 0;
    flex: 1 1 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tag {
    background: var(--tag-bg-color);

    border: 1px solid;
    border-color: var(--tag-bg-color);
    border-radius: 99px;

    color: var(--tag-color);
    font-size: 0.8rem;
    font-weight: 700;

    padding: 0 8px;
  }

  hr {
    margin: 16px -16px;
    border: 0;
    border-bottom: 1px solid;
  }

  footer {
    flex-wrap: wrap;
  }

  .stats-container {
    display: flex;
    align-items: center;

    padding: 4px 12px;

    border: 1px solid;
    border-radius: 999px;

    text-decoration: none;
    white-space: nowrap;

    > img:not(:first-child) {
      margin-left: -12px;
    }

    > .stat-total {
      margin-left: 8px;
    }
  }

  .author-container {
    margin-left: auto;
    overflow-x: auto;

    text-align: end;
    white-space: nowrap;
  }

  .article-date {
    font-size: 0.8rem;
    white-space: nowrap;
  }

  .author-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
</style>
